# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.classpath
.project
*.xml
*.txt
*.properties
*.cache
.classpath
.project
.solution.xml
.gitignore
BIMProject.xml
DeployAgent.xml
SubSystemChangeParent.xml
SubSystemFilter.xml
SubSystemHide.xml
SubSystem_bos.xml
SubSystem_bos_addWorkflow.xml
SubSystem_eas.xml
SubSystem_eas_addFM20201015.xml
SubSystem_eas_delFM20201015.xml
basemetas/
datacenters.xml
deployRecord.xml
eascomponents.xml
easwebcomponents.xml
lib/
projectFunctionConfig.xml
runtime/
web/
classes/
deployed_metas/
cache/
PurPlat_lib.xml
ant_log.txt
deployed.properties
deployed.properties
deployed.properties
derby.log
deployed.properties
temporary/
bigobjectcache/
remote_temp/
newMetas/